@import '~reset-css';

$primary-color: #222222;
body {
    color: $primary-color;
}

body {
    user-select: none;
    background: #fff;
    -webkit-print-color-adjust: exact;
}

.title {
    font-size: 25px;
    margin: 0 auto;
    text-align: center;
}

#life,
.header,
.copyright {
    width: 600px;
    margin: 0 auto;
}

.header {
    padding-left: 14px;
}

.copyright, a {
    color: #aaa;
    text-align: center;
}

#life div {
    font-size: 10px;
    line-height: 10px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#life div.year:hover {
    background: #ddd;
}

#life div.year_number {
    display: inline-block;
    width: 15px;
    margin-right: 5px;
    text-align: right;
    color: #ccc;
}

#life div:nth-child(5n+1) div.year_number {
    font-weight: bolder;
    color: #000;
}

#life div.week {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 1px;
    border: 1px solid #888;
    background: #fff;
}

#life div.ended {
    background: #ccc;
}

#life div.current {
    background: #f00;
    box-shadow: 0 0 3px #f00;
}

@media print {
    #life div.week {
        background: #fff;
    }

    #life div.ended {
        background: #ccc;
    }

    #life div.current {
        background: #f00;
    }

    .print-hidden {
        display: none;
    }
}
